<mat-progress-spinner
  *ngIf="isLoading; else formTpl"
  class="spinner"
  color="primary"
  mode="indeterminate"
  diameter="30">
</mat-progress-spinner>

<ng-template #formTpl>
  <form
    class="g-flex-column"
    [formGroup]="formGroup"
    (submit)="onSubmit($event)">
    <ng-container *ngTemplateOutlet="blockTpl; context: { items: formDataItems }">
    </ng-container>

    <button
      class="btn-submit"
      [disabled]="isPostedData"
      mat-raised-button
      color="primary">
      Save
    </button>
  </form>
</ng-template>

<ng-template
  #blockTpl
  let-items="items">
  <ng-container *ngFor="let item of items">
    <ng-container [ngSwitch]="item.type">
      <ng-container *ngSwitchCase="FORM_ITEM_TYPES.BLOCK">
        <ng-container *ngTemplateOutlet="blockTpl; context: { items: item.items }">
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="FORM_ITEM_TYPES.TEXT">
        <ng-container *ngTemplateOutlet="inputTpl; context: { item: item }">
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="FORM_ITEM_TYPES.RADIOBUTTON">
        <ng-container *ngTemplateOutlet="radiobuttonTpl; context: { item: item, id: item.id }">
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="FORM_ITEM_TYPES.TEXTAREA">
        <ng-container *ngTemplateOutlet="textareaTpl; context: { item: item }">
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="FORM_ITEM_TYPES.NUMBER">
        <ng-container *ngTemplateOutlet="inputTpl; context: { item: item }">
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="FORM_ITEM_TYPES.DROPDOWN">
        <ng-container *ngTemplateOutlet="dropdownTpl; context: { item: item }">
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="FORM_ITEM_TYPES.DATE">
        <ng-container *ngTemplateOutlet="datepickerTpl; context: { item: item, id: item.id }">
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template
  #inputTpl
  let-item="item">
  <mat-form-field>
    <input
      matInput
      autocomplete="off"
      [formControl]="item.abstractControl"
      [type]="item.type.toLowerCase()"
      [placeholder]="item.placeholder">
  </mat-form-field>
</ng-template>

<ng-template
  #radiobuttonTpl
  let-item="item"
  let-id="id">
  <label
    [class.is-invalid]="item.abstractControl.touched && item.abstractControl.invalid"
    [id]="id">
    {{ item.placeholder }}
  </label>

  <mat-radio-group
    class="g-flex"
    [attr.aria-labelledby]="id"
    color="primary"
    [formControl]="item.abstractControl">
    <mat-radio-button
      *ngFor="let val of item.values"
      class="radio-option"
      [value]="val.id">
      {{ val.value }}
    </mat-radio-button>
  </mat-radio-group>
</ng-template>

<ng-template
  #textareaTpl
  let-item="item">
  <mat-form-field>
    <textarea
      matInput
      autocomplete="off"
      [formControl]="item.abstractControl"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [placeholder]="item.placeholder">
    </textarea>
  </mat-form-field>
</ng-template>

<ng-template
  #datepickerTpl
  let-item="item"
  let-id="id">
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="id"
      autocomplete="off"
      [placeholder]="item.placeholder"
      [formControl]="item.abstractControl">

    <mat-datepicker-toggle
      matSuffix
      [for]="id">
    </mat-datepicker-toggle>

    <mat-datepicker #id>
    </mat-datepicker>
  </mat-form-field>
</ng-template>

<ng-template
  #dropdownTpl
  let-item="item">
  <mat-form-field>
    <mat-label>
      {{ item.placeholder }}
    </mat-label>

    <mat-select
      [formControl]="item.abstractControl"
      [multiple]="item.multiple">
      <mat-option
        *ngFor="let val of item.values"
        [value]="val.id">
        {{val.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
